{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center mb-3">
  <div class="col-10">
    <h1>UPDATE</h1>
    <hr>
    <form action="{% url 'movies:update' movie.pk %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-primary" type="reset">Cancel</button>
    </form>
    <hr>
    <a href="{% url 'movies:index' %}" class="btn btn-info">BACK</a>
  </div>
</div>
{% endblock content %}